# .gitignore for rust-bitcoin.github.io

# web build
site/public
site/.hugo_build.lock

# mdbook build
cookbook/book
cookbook/tests/Cargo.lock
cookbook/tests/target
cookbook/tests/src
site/static/book
